<div
  id="<%= dom_id device %>"
  class="mx-auto max-w-md overflow-hidden rounded-xl shadow-md md:max-w-2xl"
>
  <div class="md:flex">
    <div class="p-8">
      <div class="text-sm font-semibold tracking-wide text-indigo-500 uppercase"><%= device.name %></div>
      <p class="mt-2 text-xs text-gray-500">Type:
        <%= device.type %></p>
      <% if device.last_reading_time %>
        <p class="mt-2 text-xs text-gray-500"><%= content_tag(
            :time,
            "Last online #{time_ago_in_words(device.last_reading_time)} ago",
            datetime: device.last_reading_time.iso8601,
            title: device.last_reading_time.strftime("%B %d, %Y %H:%M %Z"),
          ) %></p>
      <% else %>
        <p class="mt-2 text-xs text-gray-500">Unknown...</p>
      <% end %>
      <% case device.type %>
      <% when "Hydrometer" %>
        <% temperature_data =
          device.groupped_telemetry.map do |time, metadata|
            [time, metadata["temperature"].round(1)]
          end %>

        <% battery_data =
          device.groupped_telemetry.map do |time, metadata|
            [time, metadata["battery"].floor]
          end %>

        <%= line_chart [
          { name: "Temperature (°C)", data: temperature_data, yAxisID: "yTemp" },
          { name: "Battery (%)", data: battery_data, yAxisID: "yBattery" },
        ],
        xtitle: "Time",
        library: {
          options: {
            responsive: true,
            interaction: {
              mode: "index",
              intersect: false,
            },
            scales: {
              yTemp: {
                type: "linear",
                position: "left",
                min: 0,
                max: 40,
                title: {
                  display: true,
                  text: "Temperature (°C)",
                },
              },
              yBattery: {
                type: "linear",
                position: "right",
                min: 0,
                max: 100,
                title: {
                  display: true,
                  text: "Battery (%)",
                },
                grid: {
                  drawOnChartArea: false,
                },
              },
            },
          },
        } %>

      <% when "Brewzilla" %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
