<div id="<%= dom_id device %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= device.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ratp:</strong>
    <%= device.ratp_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Connection state:</strong>
    <%= device.connection_state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mac address:</strong>
    <%= device.mac_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Type:</strong>
    <%= device.type %>
  </div>
</div>
